__pycache__/
*.py[cod]
.DS_Store
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
.ruff_cache/

backend/.env
backend/.venv/
backend/db.sqlite3
backend/media/
backend/staticfiles/

frontend/.env
frontend/node_modules/
frontend/dist/

docker/volumns/
runtime/services/
runtime/test_results/
runtime/backups/
backend/logs/
runtime/deployment_runtime/
